<body>
    <main>
        <div class="title">
            <p>ANIME</p>
            <p>MANGA</p>
            <p>LIST</p>
        </div>
        <div class="explain">
                <div class="about">
                    <p>ABOUT</p>
                </div>  
            <p>アニメのエピソード一覧が見れるサイトです</p>
            <p>自分のアカウントを作れば、最新話の追加や編集、削除ができます</p>
            <p>右下のANIME LISTから作品一覧に飛べます</p>
        </div>
        <div class="link">
            <%= link_to 'ANIME LIST⇨', posts_path %>
        </div>
        </main>
</body> 

    

