    <body>
        <div class="subtitle">
            <p>ANIME</p>
            <p>MANGA</p>
            <p>LIST</p>
        </div>
        
        <div class="list">
            <p>ANIME LIST</p>
        </div>

        <section>
            <div class="gazo">
                <a href="/onepieces">
                    <img src="assets/opG.jpg" alt="ONEPIECE">
                </a>
            </div>
            <div class="gazo2">
                <a href="/dconans">
                    <img src="assets/dcG.001.jpg" alt="detective conan">
                </a>
            </div>
            <div class="gazo3">
                <a href="/dslayers">
                    <img src="assets/dsG.001.jpg" alt="demon slayer">
                </a>
            </div>
            <div class="gazo4">
                <a href="/aots">
                    <img src="assets/aotG.001.jpg" alt="attack on titan">
                </a>
            </div>
        </section>
        
    </body>
