/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 * {
    padding: 0;
    margin: 0;
    }
    li {
    list-style:none;
    }

#ham-menu {
    background-color: black; /*メニュー背景色*/
    box-sizing: border-box;
    height: 100%;
    padding: 10px 40px; /*メニュー内左右上下余白*/
    position: fixed;
    right: -100%; /*メニュー横幅 width と合わせる*/
    top: 0;
    transition: transform 0.35s linear 0s; /*0.3s はアニメーションにかかる時間*/
    width: 100%; /*メニュー横幅*/
    z-index: 1000;
    text-align: center;
}

#menu-icon {
    background-color: rgb(30,40,54); /*アイコン部分 ハンバーガー中央色*/
    color: black; /*アイコン（フォント）色*/
    cursor: pointer;
    display: block;
    font-size: 50px; /*アイコン（フォント）サイズ*/
    height: 2px; /*アイコン縦高さ*/
    line-height: 50px; /*縦位置中央化*/
    position: fixed;
    right: 10px;
    text-align: center;
    top: 20px;
    width: 30px; /*アイコン横幅*/
    transition: all 0.3s linear 0s; /*0.3s はアニメーションにかかる時間*/
    z-index: 1001;
    transition: 1s;
}

#menu-icon::before {
    content: '';
    background-color: rgb(30,40,54); /*アイコン部分 ハンバーガー中央色*/
    display: block;
    height: 2px;
    width: 30px;
    position: absolute;
    top: -10px;
    transition: 1s;
}

#menu-icon::after {
    content: '';
    background-color: rgb(30,40,54); /*アイコン部分 ハンバーガー中央色*/
    display: block;
    height: 2px;
    width: 30px;
    position: absolute;
    top: 10px;
    transition: 1s;
}

#menu-cb {
    display: none; /*チェックボックス本体は見えないようにしている*/
}

#menu-cb:checked ~ #ham-menu {
    transform: translate(-100%); /*メニュー本体横幅 width と合わせる*/
    text-align: center;
}

#menu-cb:checked ~ #menu-icon,
#menu-cb:checked ~ #menu-icon::before,
#menu-cb:checked ~ #menu-icon::after {
    background-color: white; /*開示の際に、バーの色を黒色に変化させる*/
}

#menu-cb:checked ~ #menu-icon { 
    background-color: black;  /*中央バーを白色にして不可視に*/
}
#menu-cb:checked ~ #menu-icon::before {
    transform: rotate(135deg);
    transition: 1s;               /*上方バーを黒色にして傾ける*/
    top: 0px;
}
#menu-cb:checked ~ #menu-icon::after {
    transform: rotate(-135deg);
    transition: 1s;              /*下方バーを黒色にして傾ける*/
    top: 0px;
}

@media screen and (max-width: 768px) {
    header {
        position: absolute;
    }
    .header-items {
        z-index: 10;
        display: none;
    }
    /* header hamburger */
    #ham-menu,
    label#menu-icon {
        display: block;
    }

  /* firstview */
    .firstview {
        height: 100vh;
    }

    .firstview-imagearea {
        width: 55%;
        background: red;
        height: 300px;
        position: absolute;
        top: 100px;
        left: 50px;
    }
    .firstview-infoarea {
        position: absolute;
        top: 230px;
        right: 40px;
        width: 46%;
    }
}

header{
    background-color: white;
    font-family: "Cardinal",serif;
}

header a{
    color: white;
    text-decoration: none;
    display: inline-block;
    transform: scale(0.8,1);
    font-size: 200%;
    margin-top: 2%;
    margin-bottom: 0%;
}

header a:hover{
    color: gray;
}

.sub{
    color: white;
    line-height: 0.9;
    margin-top: 30px;
    margin-bottom: 0%;
    text-align: left;
    font-size: 150%;
    transform: scale(0.8,1);
    transform-origin: top left;
}
