// Place all the styles related to the Onepieces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.anime{
    font-size: 250%;
    margin-top: 10px;
    margin-left: 4%;
    transform: scale(0.8,1);
    transform-origin: top left;
}

.field label{
    display: inline-block;
    margin-top: 7px;
    height: 10px;
    width: 100px;
    text-align: right;
    width: 20%;
}

.field input{
    border: 0.1px solid black;
    box-shadow:0px 0px 2px 2px #ccc inset;
    width: 280px;
}

.btn1 input {
    font-family: "Cardinal",serif;
    display: block;
    margin-top: 5px;
    margin-left: 55%;
    width: 60px;
} 


table{
    border-spacing: 8px;
    text-align: center;
    margin: 0px 18%;
}

tbody a{
    color: rgb(30, 30, 30);
}

tbody a:hover{
    color: gray;
}

html{
    scroll-behavior: smooth;
}

.gotop{
    display: block;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    background: #FFF;
    border: 1px solid #999;
    padding-top: 30px;
    text-align: center;
    letter-spacing: -1px;
    font-size: 85%;
    text-decoration: none;
    color: #333;
    opacity: 0.5;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10000;
}
.gotop::before{
    content: "";
    display: block;
    border-top: 2px solid #333;
    border-right: 2px solid #333;
    width: 25%;
    height: 25%;
    top: 25%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    transform: rotate(-45deg);
}
.gotop:hover{
    opacity: 1;
}
@media(max-width:750px){
    .gotop{
        width: 40px;
        height: 40px;
        text-indent: -9999px;
        opacity: 1;
        border: none;
        background: none;
        bottom: 10px;
        right: 10px;
    }
    .gotop::before{
        bottom: 0;
    }
}



